@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");

/* Gaya Umum */
:root {
  --primary-color: #3685fb;
  --primary-color-dark: #2f73d9;
  --secondary-color: #fafcff;
  --text-dark: #0d213f;
  --extra-light: #ffffff;
  --max-width: 1200px;
}

html{
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}

.section__title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.section__subtitle {
  font-size: 1rem;
  color: var(--text-dark);
  max-width: calc(var(--max-width) / 2);
}

.btn {
  padding: 0.75rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--extra-light);
  background-color: var(--primary-color);
  border-radius: 5rem;
  cursor: pointer;
  transition: 0.8s;
}

.btn:hover {
  background-color: var(--primary-color-dark);
  transform: translateY(-4px);
}

a {
  text-decoration: none;
  transition: 0.8s;
}

a:hover{
  transform: translateY(-4px);
}

img {
  width: 100%;
  display: block;
  transition: 0.8s;
}

img:hover {
  transform: translateY(-4px);
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: var(--max-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; 
}


.nav__logo {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
  cursor: pointer;
}

.nav__logo span {
  color: var(--primary-color);
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.link a {
  padding: 1rem;
  color: var(--text-dark);
  border-bottom: 2px solid transparent;
  transition: 0.3s;
}

.link a:hover {
  color: var(--primary-color);
  border-color: var(--primary-color);
}


/* header */
header {
  background-color: var(--secondary-color);
}

.header__container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.header__image {
  position: relative;
}

.header__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 0.5rem solid var(--extra-light);
  border-radius: 2rem;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.header__image img:nth-child(1) {
  max-width: 350px;
  transform: translate(-75%, -50%);
}

.header__image img:nth-child(2) {
  max-width: 250px;
  transform: translate(0%, -25%);
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__content > div {
  max-width: 400px;
  display: grid;
  gap: 1rem;
}

.header__content .sub__header {
  font-size: 1rem;
  font-weight: 600;
  color: var(--primary-color);
}

.header__content h1 {
  font-size: 2.9rem;
  line-height: 4rem;
  font-weight: 800;
  color: var(--text-dark);
}

.header__content .action__btns {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
}


.header__socials {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header__socials a {
  margin-left: 1rem;
  font-size: 1.5rem;
  color: var(--text-dark);
  cursor: pointer;
  transition: 0.3s;
}

.header__socials a i:hover {
  color: var(--primary-color);
}


/* materi */
#materi .section__header div .section__title{
  text-align: center;
}

#materi .section__header div p{
  text-align: center;
  margin: 1rem 5rem;
}

.materi__card {
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  width: 930px;
  padding: 20px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 1rem;
  transition: 1s;
}
.materi__card:hover {
  transform: translateY(-10px);
}

.materi__isi {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.materi__isi img{
  max-width: 60px;
  object-fit: contain;
}


/* kelas */
.kelas {
  background-color: var(--secondary-color);
}

.kelas__container :is(.section__title, .section__subtitle, .view__all) {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.kelas__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 4rem 0;
}

.kelas__card {
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  transition: 1s;
}

.kelas__card:hover {
  transform: translateY(-50px);
}

.kelas__details {
  padding: 1rem;
  display: grid;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-dark);
  background-color: var(--extra-light);
  cursor: pointer;
}

.bintang {
  color: goldenrod;
}

.kelas___harga {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.harga span {
  font-weight: 400;
  font-size: 0.9rem;
  color: var(--text-light);
}

.ikuti {
  margin-top: 1rem;
  padding: 0.5rem 1.5rem;
  color: var(--primary-color);
  outline: none;
  border: 1px solid var(--primary-color);
  border-radius: 5rem;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
}

.ikuti:hover {
  color: var(--extra-light);
  background-color: var(--primary-color);
}


/* footer */
.footer {
  background-color: var(--text-dark);
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  color: var(--secondary-color);
}

.footer__col{
  margin-left: auto;
  margin-right: auto;
}

.footer__col h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.footer__col h3 span {
  color: var(--primary-color);
}

.footer__col p{
  font-size: 0.8rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.footer__col p a{
  color: #fff;
  font-size: 0.9rem;
  cursor: pointer;
  transition: 0.3s;
}

.footer__col p:hover, .footer__col p a:hover{
  color: var(--primary-color);
}

.footer__col p span {
  font-weight: 600;
}

.footer__col h4 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.footer__socials {
  margin-top: 3rem;
  margin-left: -1.3rem;
  display: flex;
  gap: 1rem;
}

.footer__socials a {
  font-size: 1.5rem;
  color: var(--extra-light);
  cursor: pointer;
  transition: 0.3s;
}

.footer__socials a i:hover {
  color: var(--primary-color);
}

.footer__bar {
  max-width: var(--max-width);
  margin: auto;
  padding: 0.5rem;
  text-align: center;
  font-size: 0.8rem;
  color: var(--secondary-color);
  border-top: 1px solid var(--text-light);
}

/* Untuk Responsif */
@media (width < 1200px) {
  .header__image img:nth-child(1) {
    max-width: 300px;
  }

  .header__image img:nth-child(2) {
    max-width: 200px;
  }
}


@media (width < 900px) {
  .nav__links {
    display: none;
  }

  .header__container {
    grid-template-columns: repeat(1, 1fr);
  }
  .header__image {
    min-height: 500px;
  }

  .materi__card {
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
    width:  100%;
    padding: 15px;
    background-color: #fff;
    border-radius: 1rem;
  }

  .materi__isi {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .materi__isi img {
    max-width: 50px;
  }
  
  .kelas__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__container {
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
  }

  #judul-sosial{
    margin-left: 19.7rem;
    margin-bottom: -1rem;
  }

  .footer__socials {
    margin-left: 18.4rem;
    display: flex;
    gap: 1rem;
  }
}

@media (width < 600px) {
  .header__image img:nth-child(1) {
    max-width: 225px;
  }
    
  .header__image img:nth-child(2) {
    max-width: 150px;
  }

  .materi__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .kelas__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer__container {
    grid-template-columns: repeat(1, 1fr);
  }

  #judul-sosial {
    margin-left: 1.5rem;
  }
    
  .footer__socials {
    margin-left: 0rem;
  }
}
